.heading
{
	text-align: center;
	vertical-align:center;
	background-color: #AC1F23;
	margin-top: -20px;
	margin-left: -20px;
	margin-right: -20px;
	margin-bottom: 30px;
	padding: 30px;
}

html 
{
    background: url(http://learn.usa.canon.com/app/media/images/articles/how_to_cinemagraph/cinemagraph_book_960.gif)no-repeat center center fixed;
    background-size: cover;
}

#left
{
    position:fixed;
    background-color: #2C6AA3;
    width: 25%;
    height: 75%;
    left: -2.5em;
    top: 10.5em;
    padding: 5px;
}

section
{
	display:block;
}

.sectionHead
{
	background-color: #232767;
	padding: 30px;
	top: 150px;
	left: -10;
	z-index: 9999;
	width: 100%;
	height: 20px;
}

.colHead
{	
	background-color: #232767;
	border-radius: 25px;
	position: relative;
	text-align: center;
	height: 96px;
	margin-bottom: 10px;
	padding-top: auto;
	vertical-align: text-middle;
	margin-top: 40px;
}

p
{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	table-layout: fixed;
}

#title
{
	padding-top: auto;
	vertical-align: middle;
	margin-top: 40px;
	position: relative;	
	display:table;
	width: 600px;
}

.fixed-nav-bar
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 150px;
	background-color: #AC1F23;
    
    box-shadow: 0px 10px 15px black;
}

form
{
	display: inline;	
}

h1 
{
	padding-top: 50px;
	position: relative;
	display: inline;
	font-family: myFirstFont;
	color: white;
	font-size: 50px;
}

h2{
	position: relative;
	display: inline;
	font-family: myFirstFont;
	color: white;
	font-size: 30px;
}


@font-face {
    font-family: myFirstFont;
    src: url(MarkoOne-Regular.ttf);
}

.frame 
{
	width: 100%;
	height: 350px;
	border-radius: 12px;
	overflow: auto;
	float: left;
	border: 2px solid #808080;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

iframe 
{
	width: 100%;
	height: 350px;
	border-radius: 12px;
}

nav ul a 
{   
    font-size: 32px;
    color: white;
    text-decoration: none;
}
nav ul li div
{
    padding:12px 40.5px 10px 40.5px;
    background-color: #232767;
    border-radius: 12px;
    margin: 0 0 5px 0;
}