.heading{
	text-align: center;
	align: center;
	background-color: #AC1F23;
	margin-top: -20px;
	margin-left: -20px;
	margin-right: -20px;
	margin-bottom: 30px;
	padding: 30px;
}

.tabHeader{
	width: 100%;
}

/*----- DROP DOWN STUFF --------*/
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display: block;}

.subjectDropdownContent{
	display: none;
	position: relative;
	background-color: #f9f9f9;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	color: #0072b2;
}

section{
	display:block;
}

.sectionHead{
	background-color: #232767;
	padding: 30px;
	top: 150px;
	left: -10px;
	z-index: 9999;
	width: 100%;
	height: 20px;
}

.colHead{
	
	background-color: #232767;
	border-radius: 25px;
	position: relative;
	text-align: center;
	height: 96px;
	margin-bottom: 10px;
	padding-top: auto;
	margin-top: 40px;
}

p{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	table-layout: fixed;
}

#title{
	padding-top: auto;
	vertical-align: middle;
	margin-top: 40px;
	position: relative;	
	display:table;
	width: 600px;
}

.fixed-nav-bar{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 150px;
	background-color: #AC1F23;
}

form{
	display: inline;
	
}

h1 {
	padding-top: 50px;
	position: relative;
	display: inline;
	font-family: myFirstFont;
	color: white;
	font-size: 50px;
}

h4{
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
	font-size: 18px;
	font-weight: bold;
}

h5{
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	font-size: 11px;
	text-align: center;
	font-weight: 600;
	line-height: 60px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
}


@font-face {
    font-family: myFirstFont;
    src: url(MarkoOne-Regular.ttf);
}

h3{
	position: relative;
	font-size: 4vw;
	color: #222;
	font-family: myFirstFont;
	color: white;
}

	border-color: black;
.list {
	border: 5px;
	margin: 4rem;
	padding: 4rem;
}

.frame {
	width: 100%;
	height: 350px;
	border-radius: 12px;
	overflow: auto;
	float: left;
	border: 2px solid #808080;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

iframe {
	width: 100%;
	height: 350px;
	border-radius: 12px;
}

/*Sliders*/


li{
	float:left;
	text-align: center;
	width: auto;
	padding: 0px 0px;
	margin: 0px 20px;
	text-decoration: none;
}


#sliders{
	display: inline-block;
	list-style: outside none none;
	line-height: 50px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#sliders li{
	margin: 0px 0px;
}

#sliders li input{
	margin: 0px 0px;
}

#sleepSliders{
	width: 60%;
	margin: 0 auto;
	padding: 0px;
	padding-top: 150px;
	text-align: center;
	border: 1px solid #aaa;
}


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#generate{
	float: right;
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.button, a,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: block;
  height: 38px;
  padding: 0 30px;
  color: #232767;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

  .button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #232767;
  border-color: #232767;
  outline: 0; }
.button.button-primary,a,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #232767;
  border-color: #232767; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #0038A8;
  border-color: #0038A8; }
  